.container{
    display: flex;
    flex-direction: column;
}
.q{
    flex-direction: column;
}
select{
    margin: 10 0;
}

input:checked + label{
    background-color: #dde8f8;
}

.question_text{
    background-color: rgba(237, 222, 238, 0.768);
    font-weight: bold;
}
